footer {
    border-top: 1px solid lightgray;
    margin: 24px 24px 0px 24px;
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.contact-title {
    font-weight: bold;
    font-size: 18px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#phone-number, #email-address {
    text-decoration: none;
    color: black;
}

#phone-number:hover, #email-address:hover {
    text-decoration: underline;
}
 
#media-btns-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.media-btn {
    transition: filter 0.3s ease;
}

.media-btn:hover {
    filter: invert(21%) sepia(100%) saturate(7454%) hue-rotate(296deg) brightness(104%) contrast(107%);
}

@media (max-width: 480px) and (min-width: 326px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    #follow-me-container {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

@media (max-width: 325px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}