body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Libre Franklin';
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

#homepage-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 32px;
    width: 80%;
}

#headshot {
    border-radius: 50%;
    margin-left: 12px;
    height: 500px;
    width: 500px;
    /* height: 400px;
    width: 400px; */
}

#about-me-hello {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 4px;
    font-family: 'Open Sans';
}

#about-me-description {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -8px;
    font-family: 'Kanit';
}

#home-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    height: 300px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.home-link {
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid black;
    height: 100%;
    max-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

#resume-link {
    background-color: orange;
    transition: background-color 0.5s ease;
}

#contact-link {
    background-color: #de02de;
    transition: background-color 0.5s ease;
}

#projects-link {
    background-color: #ff0059;
    transition: background-color 0.5s ease;
}

#projects-link:hover, #contact-link:hover, #resume-link:hover {
    background-color: white;
}

#about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 760px) {
    #homepage-content {
        display: grid;
        justify-items: center;
    }

    #headshot {
        grid-row: 3 / 4;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 761px) and (min-width: 301px) {
    #home-links-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    #contact-link {
        grid-column: 1 / 3;
        width: 50%;
        height: 100%;
    }
}

@media (min-width: 761px) {
    .App {
        min-width: 1000px;
    }

    .home-link {
        height: 70%;
        align-self: start;
    }
}

@media (max-width: 300px) {
    #home-links-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}



