body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

#homepage-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 32px;
    width: 80%;
}

#headshot {
    border-radius: 50%;
    margin-left: 12px;
    height: 500px;
    width: 500px;
    /* height: 400px;
    width: 400px; */
}

#about-me-hello {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 18px;
}

#about-me-description {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -8px;
}

#home-links-container {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.home-link {
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid black;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

#resume-link {
    background-color: orange;
    transition: background-color 0.5s ease;
}

#contact-link {
    background-color: rgb(222, 2, 222);
    transition: background-color 0.5s ease;
}

#projects-link {
    background-color: rgb(255, 0, 89);
    transition: background-color 0.5s ease;
}

#projects-link:hover, #contact-link:hover, #resume-link:hover {
    background-color: white;
}

@media (max-width: 760px) {
    #homepage-content {
        display: grid;
        justify-items: center;
    }

    #home-info-container {
        text-align: center;
    }

    #headshot {
        grid-row: 2 / 3;
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 761px) {
    .App {
        min-width: 1000px;
    }
}



